@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');
@import '_footer';
@import '_home';
@import '_irlanda';
@import '_contact';
@import '_sobremi';
@import '_btnflotante';
@import '_footer';
@import '_asesoria';

*{
    font-family: 'Cabin', sans-serif;
}

body{
    margin: 0px;
    overflow-x: hidden;
    
}
